body {
    background-color: #fbfbfb;
}

@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin-top: 10px;
    padding: 58px 0 0;
    /* Height of navbar */
    width: 90px;
    z-index: 600;
}

.list-group a {
    padding-top: 20px !important;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.nav-icon {
    background-color: aliceblue;
    padding: 2px;
    align-items: center;
    margin-right: 20px;
    border-radius: 20%;
    border-color: 4px;
    border-color: black !important;
    font-size: 21px;
}

.head1 {
    border: 1px solid #666;
    display: inline-block;
    width: 100%;
    margin-left: -110px;
    padding: 10px;
    border-radius: 5px;
    background-color: #F9F9FB;


}

#text,
#icon {
    line-height: 50px;

}

#icon {
    vertical-align: middle;
    font-size: 30px;
    background-color: #045DE91A;
    padding: 10px;
    border-radius: 15px;
}

#text {
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 20px;
}

.input input {
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    width: 300px;
}



.buttonRight {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    margin-left: -10px;
    margin-right: 50px;
    margin-bottom: 50px;
}
.buttonRight button {
    margin: 10px;
    padding: 10px;
    border-radius: 10%;

}

.bt1 {
    background-color: #dad3d3;
}
.bt2 {
    background-color: #045DE9;
    color: white;
}